# dependencies
node_modules/

# production build
dist/
build/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# editor settings
.vscode/
.idea/

# coverage / testing
coverage/

# cache
.cache/
.parcel-cache/
.eslintcache

# Vite
.vite/

# temporary files
*.tsbuildinfo

# optional lock ignore (faqat jamoaga qarab)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml